*.bld
*.pad
*.par
*.syr
*.ptwx
*.coe
_ngo
_xmsgs
ipcore_dir
iseconfig
isim
xlnx_auto_0_xdb
xst
*.bgn
*.xise
*.gise
*.ncd
*.xmsgs
*.txt
*.ngc
*.xml
*.sym
*.csv
*.cmd
*.vf
*.prj
*.schbak
*.schlog
*.schcmd
*.wdb
*.exe
*.mif
*.log
*.jhd
*.lso
*.spl
*.tfi
*.xst
*.cmd_log
*.stx
*.spl
*.drc
*.xrpt
*.html
*.ini
*.ngd
*.ngr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xwbt
*.map
*.ngm
*.mrp
*xrpt
